

.page {
    padding-top: 50px;
}

.mask {
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    background: rgba(0,0,0,0.4); 
}
.headerSty{
	background:#fff;
	border-bottom: 2px solid #e5e5e5;
}
.headerSty >h1{
	font-size: .17rem;
    color: rgb(51,51,51);
}
.mintui-back{
	color:#000;
}